@import url(./assets/css/fonts.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Roboto Mono';
  list-style: none;
  text-decoration: none;
  color: white;
}

html {
  background-color: #0b0026;
  scroll-behavior: smooth;
  /* scroll-snap-type: proximity; */
}

body {
  background: linear-gradient(243.59deg, #6535c3 0%, #2d0083 25%, #0b0026 75%);
}


header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  background-color: rgb(153 102 255 / 3%);
  backdrop-filter: blur(51px);
}


.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}

.logo img {
  width: 70px;
}

.navlist {
  position: absolute;
  right: -1000px;
  background-color: #0b0026f4;
  width: 84vw;
  height: 100vh;
  padding: 20px 50px;
  align-items: end;
  top: 0;
  transition: right .5s ease-out;
  backdrop-filter: blur(200px);
}

.navlist li {
  margin-bottom: 20px;
}

.navlist li a {
  font-size: 40px;
}

#menu-toggle:checked + .menu-icon-action + .navlist {
  right: 0;

}

.navlist a {
  font-size: 15px;
  font-weight: 600;
}

#menu-icon {
  display: block;
  color: white;
  font-size: 35px;
  z-index: 101;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

#menu-toggle {
  display: none;
}

.menu-icon-action {
  display: block;
}

.link-animation a {
  position: relative; 
  text-decoration: none; 
}

.link-animation a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all .7s linear;
  margin-top: 5px;
}
.link-animation a:hover:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

main {
  position: relative;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
  padding: 5% 5%;
}

.hero-text {
  text-align: center;
  margin-top: 100px;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 25px;
}
.hero-text h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-text p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5em;
}
.hero-text a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 30px;
  transition: all .5s ease-in;
  position: relative;
  font-size: 20px;
}


.hero-img {
  text-align: center;
}

.hero-img img {
  align-items: center;
  width: 400px;
}

.hero-text a i {
  margin-right: 3px;
}

.pinned-links{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.about {
  grid-template-columns: 1fr;
  padding: 20px 50px;
}


.social {
width: 100%;
justify-content: center;
 display: flex;
 flex-direction: row;
 margin: 0 auto;
}

.social a {
  margin-right: 10px;
}

.social i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  transition: all .5s ease;
}

.social i:hover {
  color: #5500ff;
}

.scroll-down {
  display: none;
}

footer {
  width: 100%;
  margin: 0 auto;
  background-color: #0b00262b;
  text-align: center;
  } 
  footer p {
    padding: 10px 0;
    font-size: 10px;
    font-weight: 400;
}

/*Desktop*/

@media (min-width:992px) {
  header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
  }
  
  .logo img {
    width: 70px;
  }
  
  .navlist {
    background-color: unset;
    position: unset;
    top: unset;
    right: unset;
    width: unset;
    height: unset;
    padding: 0;
    }

    .navlist ul {
      display: flex;
      align-items: center;
    }
    
    .navlist ul li  {
      display: inline-block;
      margin-bottom: 0;
    }
    .navlist li a {
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    
  }
  
  
  #menu-icon {
    display: none;
    color: white;
    font-size: 35px;
    z-index: 101;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-icon-action {
    display: block;
  }
  
  .hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 0;
    padding-top: 100px;
  }
  
  section {
    padding: 0 8%;
  }
  
  .hero-text {
    grid-column: 3 / 9;
  }
  
  .hero-text h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 25px;
  }
  .hero-text h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .hero-text p {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.5em;
  }
  .hero-text a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 30px;
    transition: all .5s ease-in;
    position: relative;
    font-size: 20px;
  }
  
  .hero-img img {
    align-items: center;
    width: 400px;
  }
  
  .hero-text a i {
    margin-right: 3px;
  }

  .about {
    margin-top: 5rem;
    background-color: #0b0026;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 1rem;
    padding: 0;
  }
  
  .about-text {
    max-width: 75ch;
    grid-column: 3 /9;
  }
  
  .about h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .5em;
  }
  
  .social {
    position: absolute;
    top: 50vh;
    left: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  
  .social i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    transition: all .5s ease;
  }
  
  .social i:hover {
    color: #5500ff;
  }
  
  .scroll-down {
    display: block;
  }
  
  .scroll-down i {
    display: block;
    font-size: 50px;
    border-radius: 30px;
    position: absolute;
    bottom: 6%;
    right: 3%;
  }
}