*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Roboto Mono';
  list-style: none;
  text-decoration: none;
  color: white;
}

body {
  background-color: black; /*TODO: borrar cuando tengamos el fondo final*/
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 3%;
  background-color: rgb(153 102 255 / 3%);
  backdrop-filter: blur(51px);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
}

.logo img {
  width: 70px;
}

.navlist {
  display: flex;
}

.navlist a {
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all .5s ease;
}

.navlist a:hover {
  border-bottom: 2px solid white;
}

#menu-icon {
  display: none;
  color: white;
  font-size: 35px;
  z-index: 101;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-icon-action {
  display: block;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(243.59deg, #6535c3 0%, #2d0083 25%, #0b0026 75%);
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0;
}

section {
  padding: 0 8%;
}

.hero-text {
  grid-column: 3 / 9;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 25px;
}
.hero-text h5 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.hero-text p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 1.5em;
}
.hero-text a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 30px;
  transition: all .5s ease-in;
  position: relative;
  font-size: 20px;
}
.hero-text a:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  transition: all .7s linear;
  margin-top: 5px;
}
.hero-text a:hover:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.hero-img img {
  align-items: center;
  width: 400px;
}

.hero-text a i {
  margin-right: 3px;
}